.wrapper {
  /* padding-top: 50px; */
  background: rgb(175, 175, 175);
  background-image: url('https://images7.alphacoders.com/400/thumb-1920-400623.jpg');
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  /* padding: 20px; */
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  /* margin-bottom: 30px; */
}
