.wrapper {
  height: 100%;
  width: 100%;
  background-image: url('https://images7.alphacoders.com/400/thumb-1920-400623.jpg');
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
}

@media (max-width: 675px) {
  .wrapper {
    grid-template-rows: 1fr 0.75fr 5fr 1fr;
  }
}

@media (max-width: 450px) {
  .wrapper {
    grid-template-rows: 1fr 0.5fr 5fr 1fr;
  }
}
