.card {
  /* background: #444; */
  border: 4px rgb(133, 161, 173) solid;
  border-radius: 2px;
  width: 150px;
  height: 150px;
  margin: 2rem;
  position: relative;
  box-shadow: 4px 4px 10px #999;
  transition: all .2s ease-in-out;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  background:rgb(255, 255, 255);
}

.card > .img-container > img {
  height: 100%;
  /* background-size: cover; */
}

.card:hover {
  /* opacity: 0.8; */
  /* width: 210px;
  height: 210px; */
  /* transform: scale(1.10); */
  box-shadow: 8px 8px 20px #999;
  transform: scale(1.1);
}

.card:active {
  /* background-color: #3e8e41; */
  /* box-shadow: 0 5px #666; */
  transform: translate(1px, 1px);

}
