.card {
  border: 4px rgb(99, 99, 99) solid;
  border-radius: 2px;
  box-shadow: 4px 4px 10px rgb(56, 56, 56);
  height: 150px;
  transition: all .2s ease-in-out;
  width: 150px;
}

.card > .img-container {
  background:rgb(255, 255, 255);
  height: 100%;
  overflow: hidden;
}

.card > .img-container > img {
  height: 100%;
}

.card:hover {
  box-shadow: 8px 8px 20px rgb(56, 56, 56);
  cursor: pointer;
  transform: scale(1.1);
}

.card:active {
  transform: translate(1px, 1px);
}

@media (max-width: 680px) {
  .card {
    width: 125px;
    height: 125px;
  }
}

@media (max-width: 460px) {
  .card {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 380px) {
  .card {
    width: 80px;
    height: 80px;
  }
}