.card {
  /* background: #444; */
  border: 2px rgb(255, 81, 0) solid;
  border-radius: 2px;
  width: 200px;
  height: 200px;
  margin: 2rem;
  position: relative;
  box-shadow: 6px 6px 6px #999;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  background:rgb(255, 255, 255);
}

.card > .img-container > img {
  height: 100%;
  /* background-size: cover; */
}

.card:hover {
  opacity: 0.8;
  /* width: 210px;
  height: 210px; */
}
