.card {
  border: 4px rgb(99, 99, 99) solid;
  border-radius: 2px;
  width: 150px;
  height: 150px;
  margin: 1rem;
  position: relative;
  box-shadow: 4px 4px 10px rgb(56, 56, 56);
  transition: all .2s ease-in-out;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  background:rgb(255, 255, 255);
}

.card > .img-container > img {
  height: 100%;
}

.card:hover {
  box-shadow: 8px 8px 20px rgb(56, 56, 56);
  transform: scale(1.1);
  cursor: pointer;
}

.card:active {
  transform: translate(1px, 1px);
}