nav {
  background-color: rgb(56, 56, 56);
  color: #fff;
  display: flex;
  grid-area: 1 / 1 / 2 / 4;
  align-items: center;
  justify-content: space-between;
  max-height: 100%;
  max-width: 100%;
  padding: 0 2rem;
}

a {
  color: #fed420;
  font-size: 3rem;
  text-decoration: none;

}

a:hover {
  color: #fed420;
  text-decoration: none;
}

@media (max-width: 900px) {
  a {
    font-size: 2rem;
  }
}

@media (max-width: 680px) {
  nav {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@media (max-width: 500px) {
  a {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  a {
    font-size: 1.2rem;
  }
}