nav {
  width: 100%;
  /* text-align: right; */
  font-size: 3rem;
  color: #fff;
  margin-bottom: 50px;
  background-color: rgb(56, 56, 56);
  padding: 20px;
  height: auto;
}

a {
  margin-right: 10px;  
}

a:hover {
  color: rgb(255, 72, 0);
  text-decoration: none;
}
