nav {
  width: 100%;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 50px;
  background-color: rgb(56, 56, 56);
  height: auto;
  font-family: 'Bungee', cursive;
}

a {
  color: #fed420;
}

a:hover {
  color: #fed420;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 26px 0;
  width: 25%;
  /* text-align: center; */
}

ul {
  /* padding-left: 0px; */
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  #cur-sco, #top-sco {
    font-size: 2rem;
  }
}