/* nav {
  width: 100%;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 50px;
  background-color: rgb(56, 56, 56);
  height: 100px;
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */

nav {
  background-color: rgb(56, 56, 56);
  color: #fff;
  display: flex;
  grid-area: 1 / 1 / 2 / 7;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  /* width: 100%; */
}

a {
  color: #fed420;
}

a:hover {
  color: #fed420;
  text-decoration: none;
}

@media only screen and (max-width: 750px) {
  #cur-sco, #top-sco {
    /* font-size: 2rem; */
  }
}